@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Mulish:ital,wght@0,300;0,500;0,700;1,300;1,400&family=Play&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,200;1,600&display=swap');
*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    font-size: 62.5%;
    font-family: var(--primary-font),sans-serif;
}
:active,:hover,:focus{
    outline-offset: 0 !important;
    outline: 0;
}

ul,ol{
    margin: 0;
    padding: 0;
}
a,a:hover{
    text-decoration: none;
}

:root{

    --primary-color:#22b3c1;
    --secondary-color:#959da5;
    --third-color:rgba(34,179,193,0.4);
    --white-color:#fff;
    --black-color:#000;
    --primary-font:"Heebo";
}
::-webkit-scrollbar{
    width: 0.625rem;
}
::-webkit-scrollbar-thumb{
    background: #959da5;
}
::-webkit-scrollbar-track{
    background: #000;
}

.primary-btn{
    height: 3.5rem;
    width: 9.5rem;
    background-color: var(--primary-color);
    padding: 0.7rem;
    font-size: 1rem;
    border: none;
    border-radius: 2rem;
    color: var(--white-color);
    transition: all .4s linear;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear ;
}

.primary-btn:hover{
    background-color: transparent;
    color: var(--primary-color);
    border: solid var(--primary-color);
    font-size: 1.2rem;
}
.secondary-btn{
    width: 9.5rem;
    height: 3.2rem;
    border:2px solid var(--primary-color);
    background-color: transparent;
    border-radius: 2rem;
    color: var(--white-color);
    font-size: medium;
    transition: all 2s linear;
}
.secondary-btn:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}

h1{
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--black-color);
    margin-bottom: 2rem;
}
h2{
    font-size: 1.3rem;
    color: var(--secondary-color);
    font-weight: 500;
    margin-bottom: 1.5rem;
}
p{
    font-size: 1rem;
    color: var(--secondary-color);
}

h3{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--white-color);
}
h5{
    font-size:1rem;
    font-weight: 500;
    color: var(--primary-color);
}
/* 
Header Section */

.header-nav{
    /* border:2px solid black; */
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    padding: 0.6rem;
    z-index: 1000;
}
.navbar-list ul li{
    padding: 0 0.8rem;
}
.navbar-list ul li a{
    color: var(--white-color)!important;
    font-size: 1rem;
}
/* .navbar-list ul li a:hover{
    color: var(--secondary-color) ;
} */

/* Banner Section */
.banner-container{
    padding: 0 0.625rem;
}

.banner-container-header{
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('../public/Images/Banner/Nature.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.banner-container-header span{
  color: var(--primary-color);
}
.banner-container .banner_container_InnerContent{
    height: 20vh;
    width: 60vw;
    background-color: var(--white-color);
    border-radius:6rem;
    position: relative;
    top: -10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner_container_InnerContent i{
    font-size: medium;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    height: 2.5rem;
    width: 2.6rem;
    border-radius: 60%;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: none;
    transition: all .3s linear;
}
.banner_container_InnerContent i:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
    border: 2px solid var(--white-color);
    cursor: pointer;
}
.banner_container_InnerContent span{
    color: var(--primary-color);
    font-size: 1rem;
}
.inner_text{
    font-size: medium;
}

/* Countries Section */
.OurCountries-Container{
    padding: 2rem;
}
.OurCountries-Container h2{
    font-size: small;
    margin-top: 1rem;
}
.OurCountries-Container i{
    color: var(--primary-color);
    font-size: medium;
    padding: 0.8rem;
    border: 2px solid var(--primary-color);
    border-radius: 2rem;
    transition: all .5s linear;
}
.OurCountries-Container i:hover{
    color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 4rem;
    cursor: pointer;
}
.OurCountries-Container img{
    border-radius: 2rem;
    height: 80%;
    width: 90%;
    margin-left: 2rem;
}

.OurCountries-Map iframe{
    
    border-radius: 2rem;
    height: 20rem;
    width: 50%;
    margin-right: 5rem;
}

.OurCountries-Container h1{
    font-size: 1.8rem;
}


/* About Section */
.About-US-Container{

    background-image: url('../public/Images/About/Cover/Island.jpg');
    background-position: center;
    background-size: cover;
    height: 90vh;
    z-index: -1;

}
.About-US-Container .glass{

    height: 50vh;
    width: 80vw;
    margin-top: 7rem;
    background:linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow:0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    
}
.About-US-Container .glass h4{
    font-size: 2rem;
    color: var(--white-color);
}
.about-us-para{
    color: #fff;
}
.new-btn{
    height: 3rem;
    width: 8.5rem;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1rem;
    border-radius: 4rem;
    border: none;
    transition: all .4s ease-in;
    /* position: absolute; */
    /* left: 25rem; */
}
.new-btn:hover{
    background-color: transparent;
    color: var(--white-color);
    border: 2px solid var(--primary-color);
}

.About-US-MidContainer{
    height: 70vh;
    width: 90vw;
    padding: 5rem;
    background-color: #ffff;
    margin-top: -60px;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.4);
    border-radius: 4rem;
}
.About-US-MidContainer span{
    color: var(--primary-color);
}
.About-US-MidContainer img{
    height: 14rem;
    border-radius: 20%;
    box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.5);
}

.card{
    position: relative;
    width:15rem;
    height: 20rem;
    border-radius: 2rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    padding: 0.8rem 0.6rem;
    background: #fff;
    border: none;
    text-align: center;
    transform: translate(3.6rem,4rem);
}
.card-img{
    position: absolute;
    height: 90%;
    width: 30%;

}
.card-img img{
    height: 50%;
    width: 70%;
    border-radius: 3rem 0 0 3rem;
  
}
.card:hover{
    transform:translate(0,0);
    cursor: pointer;
}

.About-Us-Section-2{
    padding: 5rem;
}
.About-Us-2-Container{
    margin: auto;
    padding:0 4rem;
}
.image-section{
    margin-top: 6.4rem;
}
.About-Us-2-InnerContent{
    background-color:rgb(247, 247, 247);
}

.left-side{
    width: 40%;
    margin-right: 2rem;
}
.spl-heading{
    color: var(--primary-color);
}

/* Reservation Section */
.Reservation_Container_Header{
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../public/Images/Registration/train.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    justify-content: center;
}
.Reservation_Content{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.Reservation_Content_heading{
    color: var(--white-color);
}
.Reservation_Content_Para{
    color: var(--white-color);
}

.Reservation_container_center{
    margin-top: -5rem;
}

.Reservation_container_center .Reservation_container_center_FirstDiv,
.Reservation_container_center_SecondDiv,.Reservation_container_center_ThirdDiv
{
    height: 25vh;
    width: 30%;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.7);
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2rem;
    padding: 1.4rem;
   
}
.Reservation_container_center .Reservation_container_center_FirstDiv,
.Reservation_container_center_SecondDiv,.Reservation_container_center_ThirdDiv,.headings{
    font-size:1.5rem;
    margin-top: 1rem;
}
.Reservation_container_center .Reservation_container_center_FirstDiv,
.Reservation_container_center_SecondDiv,.Reservation_container_center_ThirdDiv,i{
     
    color: var(--primary-color);
}
.Reservation_Container_form{
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 4rem;
    padding: 2rem;
    box-shadow: 0.5rem 0.4rem 0.3rem rgba(0, 0, 0, 0.5);
    background-color: rgb(234, 231, 231);
}

.form_input{
    border-radius: 2rem;
}
.form_end .form_btn{
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 2rem;
    padding: 0.7rem;
    font-size: 1rem;
    border: none;
    transition: all .4s linear;
}
.form_end .form_btn:hover{
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}
/* Footer Section */
footer{
    position: sticky;
}
.footer-container{
    /* border: 2px solid black; */
    padding: 2rem;
    width: 100%;
    height: 35vh;
    background-image:linear-gradient(rgba(34,179,193, 0.85),rgba(34,179,193, 0.85))
                    ,url("/public/Images/Footer/zetong.jpg");
    background-position: center;
    background-size: cover;
}

.footer-container h3{
    margin-top: 3rem;
    font-size: 1.4rem;
}
.footer-container .secondary-btn{
    margin-top: 3rem;
}


/* Responsivenes for tablets */
@media (max-width:991px){

    html,body{
        overflow-x: hidden;
        max-width: 100%;
    }

    /* //Navigation */
    .header-nav{
       width:100vw;
    }

    .banner-container-header{
        height: 60vh;
        width: 100vw;
    }
    .banner-container-header span{
      color: var(--primary-color);
    }
    .banner-container .banner_container_InnerContent{
        height: 10vh;
        width: 80vw;
        border-radius:6rem;
        position:relative;
        left: -1rem;
        top: -12rem;
        padding: 4rem;
        display: grid;
        justify-content: center;
        align-content: center;
    }
   
    /* Countries Section */
.OurCountries-Container{
    padding: 1.4rem;
    width: 100vw;
    margin-left:0;
}
 .OurCountries-Container .OurCountries-firstCont h1{
    text-align: center;
    font-size: 1.8rem;
 }
 .OurCountries-Container .OurCountries-firstCont p{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.4rem;
 }

 .countires-rigt-section{
    padding: 2.5rem;
    width: 100vw;
 }
 .countires-rigt-section img{
    position: relative;
    right: 4rem;
    width: 50vw;
    height: 25vh;
 }
.countires-rigt-section .Countries-title h1{
    width: fit-content;
    margin-left: -2rem;
    font-size: 1.3rem;
}

.OurCountries-Map iframe{
    
    border-radius: 2rem;
    height: 25rem;
    width: 90vw;
    margin-left:1rem;
    margin-bottom: 3rem;
}

.OurCountries-Container h1{
    font-size: 1.8rem;
}

/* About Section */
.About-US-Container{
    height: 70vh;
}
.About-US-Container .glass{
    height: 40vh;
    width: 80vw;
    margin-top: 8rem;
}
.About-US-Container .glass h4{
    font-size: 2rem;
    color: var(--white-color);
}

.new-btn{
    margin-top: 2rem;
}

.third-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.About-US-MidContainer{
    height: 35vh;
    width: 90vw;
    padding: 5rem;
    background-color: #ffff;
    margin-top: -7.8rem;
    margin-bottom: 4rem;
}
.About-US-MidContainer span{
    color: var(--primary-color);
}
.About-US-MidContainer img{
    height: 12rem;
    width: 40vw;
    border-radius: 20%;
}

.card{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width:15rem;
    height: 21rem;
}
.card1,.card2{
    margin-bottom: 4rem;
}
.card1-body,.card2-body,.card3-body{
    margin-bottom:4rem;
}
.card-img{
    position: absolute;
    height: 56%;
    width: 40%;
    right:18rem;

}



.About-Us-Section-2{
    padding: 0.8rem;
}
.About-Us-2-Container{
    margin: auto;
    padding:0 4rem;
    width: fit-content;
    margin-bottom: 4rem;
}

.image-section{
    margin-bottom: -2rem;
    margin-left: -2rem;
}
.image-section img{
    height: 25vh;
    width: 50vw;
}
.About-Us-2-InnerContent{
    background-color:rgb(247, 247, 247);
}

/* Reservation Section */
.Reservation_Container_Header{
    height: 55vh;
}

.Reservation_container_center .Reservation_container_center_FirstDiv,
.Reservation_container_center_SecondDiv,.Reservation_container_center_ThirdDiv
{
    height: 20vh;
    width: 28%;
    border-radius: 2rem;
    padding: 1rem;
   
}
.Reservation_container_center .Reservation_container_center_FirstDiv,
.Reservation_container_center_SecondDiv,.Reservation_container_center_ThirdDiv,.headings{
    font-size:1.3rem;
    margin-top: 1rem;
}
.Reservation_container_center .Reservation_container_center_FirstDiv,
.Reservation_container_center_SecondDiv,.Reservation_container_center_ThirdDiv,i{
     
    color: var(--primary-color);
    font-size: 1.7rem;
}
.Reservation_container_center .Reservation_container_center_FirstDiv,
.Reservation_container_center_SecondDiv,.Reservation_container_center_ThirdDiv h5{
    font-size: 1.3rem;
}  

@media (max-width:768px){

    .banner-container-header{
        height: 60vh;
        width: 100vw;
        position: relative;
    }
    .banner-container-header span{
      color: var(--primary-color);
      font-size: 1.4rem;
    }
    .banner-container-header .secondary-btn{
        margin-top: -1.6rem;
    }
    .banner-container h3{
        font-size: 1.2rem;
        text-align: center;
    }
    .banner-container .banner_container_InnerContent{
        height: 14vh;
        width: 90vw;
        border-radius:6rem;
        position:relative;
        left: auto;
        right: auto;
        top: -11rem;
        padding: 1rem;
        margin-top: 1.6rem;
    }
    .banner_container_InnerContent i{
        position: relative;
        font-size: 1rem;
        top: 1.4rem;
        left: 1rem;
        height: 2.3rem;
        width: 2.6rem;
    }
    .banner_container_InnerContent .inner_text{
        margin-top: 1.6rem;
        margin-left: 0.5rem;
        font-size: 0.8rem;
        padding-left: 0.6rem;
    }
    .banner_container_InnerContent button{
        display: none;
    }
   
    /* Countries Section */
.OurCountries-Container{
    padding: 1.4rem;
    width: 100vw;
    margin-top: -4rem;    
}
 .OurCountries-Container .OurCountries-firstCont h1{
    text-align: center;
    font-size: 1.8rem;
 }
 .OurCountries-Container .OurCountries-firstCont p{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.4rem;
 }

 .OurCountries-Map iframe{
    
    border-radius: 2rem;
    height: 20rem;
    width: 90vw;
    margin-left:0;
    margin-bottom: 3rem;
}

.OurCountries-Container h1{
    font-size: 1.5rem;
}


 .countires-rigt-section{
    padding: 1.8rem;
    width: 100vw;
 }
 .countires-rigt-section img{
    position: relative;
    right: 2rem;
    width: 100vw;
    height: 28vh;
    margin-bottom: 2rem;
 }
.countires-rigt-section .Countries-title h1{
    width: fit-content;
    margin-left: 2rem;
    font-size: 1.5rem;
}
.countires-rigt-section .Countries-card-button{
    margin-left:7.6rem;
}

.countires-rigt-section p{
    width: 80vw;
}

.footer-container{
    width: 100vw;
    padding: 2rem;
}
.footer-container h3{
    font-size: 1rem;
}
.footer-container button{
    margin-right: 2rem;
}

/* About Section */
.About-US-Container{
    height: 70vh;
}
.About-US-Container .glass{
    height: 40vh;
    width: 80vw;
    margin-top: 8rem;
}
.glass h3{
    font-size: 1.5rem;
}
.About-US-Container .glass h4{
    font-size: 1.5rem;
    color: var(--white-color);
}

.new-btn{
    margin-top: 2rem;
}

.third-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.About-US-MidContainer{
  display: none;
}

/* third section About us */
.card-img{
    position: absolute;
    height: 56%;
    width: 50%;
    right:10rem;

}

.About-Us-Section-2{
    padding: 0.8rem;
}
.About-Us-2-Container{
    margin: auto;
    padding:0 4rem;
    width: fit-content;
    margin-bottom: 4rem;
}

.About-Us-2-Container h1{
    font-size: 1.4rem;
}

.image-section{
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.image-section img{
    height: 25vh;
    width: 70vw;
}
.About-Us-2-InnerContent h4{
    font-size: 1.1rem;
}
.About-Us-2-InnerContent p{
    font-size: 0.9rem;
}

/* Reservation Section */
.Reservation_Container_Header{
    height: 45vh;
}

.Reservation_Container_Header h3{
    margin-top: 4.3rem;
    font-size: 1.4rem;
}
.Reservation_Container_Header h1{
    font-size: 1.2rem;
}
.Reservation_Container_Header p{
    font-size: 0.8rem;
}
.Reservation_Container_Header .new-btn{
    margin-top: -1rem;
}

.Reservation_container_center .Reservation_container_center_FirstDiv,
.Reservation_container_center_SecondDiv,.Reservation_container_center_ThirdDiv
{
    position: relative;
    top: 2.5rem;
    height: 17vh;
    width: 30%;
    border-radius:1.6rem;
    padding: 0.2rem;
   
}
.Reservation_container_center .Reservation_container_center_FirstDiv,
.Reservation_container_center_SecondDiv,.Reservation_container_center_ThirdDiv,.headings{
    font-size:0.8rem;
    margin-top: 1rem;
}
.Reservation_container_center .Reservation_container_center_FirstDiv,
.Reservation_container_center_SecondDiv,.Reservation_container_center_ThirdDiv,i{
     
    color: var(--primary-color);
    font-size: 1.2rem;
}
.Reservation_container_center h5{
    font-size: 0.7rem;
} 
.Reservation_container_center_FirstDiv,
.Reservation_container_center_SecondDiv,.Reservation_container_center_ThirdDiv h5{
    text-align: center;
    font-size: 0.7rem;
}
}

}